@charset "UTF-8";

/* =======================
summary
========================== */
.summary {
    width: 55%;
    text-align: left;
    margin: 5% auto 0;
}

.summary__comtents {
    line-height: 1.9;
    font-size: 1.2vw;
    margin-top: 3.8%;
    padding: 3% 3%;
    background: #A2BFA6;
    box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
    border-radius: 9px;
}

.summary__title {
    display: inline-block;
    background: linear-gradient(transparent 70%, rgba(255, 247, 211, 0.50) 70%);
}

.summary__txt {
    margin-top: 0.8%;
}

/* 780px sp */
@media screen and (max-width:780px ){
    .summary {
        width: 80%;
        margin: 10% auto 0;
    }

    .summary__comtents {
        font-size: clamp(2px, 3.1vw, 35px);
        margin-top: 5.3%;
        padding: 3% 3%;
        box-shadow: 0 2px 14px rgba(0, 0, 0, .08);
    }

    .summary__txt {
        margin-top: 1.6%;
    }
}
/* sp */

/* =======================
example
========================== */
.example {
    width: 55%;
    text-align: center;
    margin: 7% auto 0;
}

.example p {
    margin-top: 6%;
}


/* 780px sp */
@media screen and (max-width:780px) {
    .example {
        width: 80%;
        margin: 9% auto 0;
    }
}
/* sp */

.design--02 {
    margin-top: 6%;
}
