/* mv */
.mv {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .mainvisual {
    display: flex;
    justify-content: right;
    margin-right: 6.25rem;
    margin-top: 8%;
  }
  
  .mainvisual img {
    width: 46.1%;
  }
  
  .siteTtl {
    position: absolute;
    margin-left: 8.8%;
    z-index: 10;
    text-align: center;
  }
  
  .ttlName {
    font-size: 6.5vw;
    line-height: normal;
    letter-spacing: 0.1em;
  }
  
  .mvSub {
    font-size: 4.6vw;
    line-height: normal;
    letter-spacing: 0.09em;
  }
  
  /* sp */
  @media screen and (max-width: 988px) {
    .mainvisual img {
      width: 50%;
    }
    .mainvisual {
      margin: 10% 5% 0 0;
    }
  }
  
  @media screen and (max-width: 700px) {
    .mainvisual img {
      position: relative;
      width: 150%;
      right: -26%;
    }
    .mainvisual {
      margin: 32% 5% 0 0;
    }
    .siteTtl {
      margin: -26% 0 0 5.8%;
      text-align: left;
    }
    .ttlName {
      font-size: 13.4vw;
    }
    .mvSub {
      font-size: 7.6vw;
    }
  }
  

/* about */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.aboutLoad {
  opacity: 50%;
  width: 20%;
}

.aboutLoad img {
  width: 100%;
  object-fit: cover;
  animation: rotation 15s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.aboutBox {
  display: inline-block;
  margin: 0 2% 0 3.8%;
}

.topic {
  font-size: 2.3vw;
  line-height: normal;
}

.aboutTxt {
  font-size: 1.3vw;
  margin-top: 3%;
  line-height: 1.8;
}

.aboutMore {
  width: 6vw;
  display: inline-block;
  font-size: 1.3vw;
  position: relative;
  margin: 20px 0 0 92%;
}

.aboutMore a {
  text-decoration: none;
  color: #FAFFF3;
}

/* about sp */
@media screen and (max-width: 700px) {
  .aboutLoad {
    opacity: 50%;
    position: absolute;
    width: 45%;
    left: -10%;
  }

  .about {
    margin-top: 19%;
  }

  .aboutTtl {
    position: relative;
    right: -28%;
    width: 67%;
  }

  .topic {
    font-size: 5vw;
  }

  .aboutTxt {
    font-size: clamp(12px, 2.5vw, 26px);
    margin-top: 5%;
  }

  .aboutMore {
    font-size: clamp(12px, 2.3vw, 17px);
    margin: 5% 0 0 85%;
  }
}
