.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 2rem 6rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.navList {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.navItem a {
  text-decoration: none;
  color: #FAFFF3;
  font-size: 1.5rem;
  letter-spacing: 0.06em;
  transition: opacity 0.2s;
}

.navItem a:hover {
  opacity: 0.6;
}
